<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>{{ .title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <section class="section py-4">
        <div class="container">
            <h1 class="title is-5 has-text-white">{{ .title }}</h1>
        </div>

        <div class="container main-layout">
            <div class="main-layout__left">
                <table class="table is-bordered is-narrow is-fullwidth orderbook-table">
                    <thead>
                        <tr>
                            <th class="has-text-link has-text-right">売気配</th>
                            <th class="has-text-centered">価格</th>
                            <th class="has-text-danger has-text-left">買気配</th>
                        </tr>
                    </thead>
                    <tbody id="orderbook-body">
                    </tbody>
                </table>
            </div>

            <div class="main-layout__right">
                <div class="cancel-panel" id="cancel">
                    <b>注文取消</b>
                    <div class="cancel__checkboxes">
                        <label class="checkbox button">
                            <input type="checkbox" id="cancel__long" />
                            買建(ロング)
                        </label>
                        <label class="checkbox button">
                            <input type="checkbox" id="cancel__short" />
                            売建(ショート)
                        </label>
                    </div>
                    <button class="button" id="cancel__btn">SEND</button>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/index.js"></script>
</body>

</html>
